include *.rst
include COPYING
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include examples *.TXt
recursive-include examples *.bz2
recursive-include examples *.csv
recursive-include examples *.dbf
recursive-include examples *.gz
recursive-include examples *.json
recursive-include examples *.pl
recursive-include examples *.sql
recursive-include examples *.tsv
recursive-include examples *.txt
recursive-include examples *.upl
recursive-include examples *.xls
recursive-include examples *.xlsx
recursive-include tests *.py
